In [2]:
from google.colab import drive
drive.mount(r'/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
import re

In [6]:
df=pd.read_csv("/content/drive/My Drive/Colab Notebooks/Feynn Labs/ev/data/small_com_vehicle.csv")
df.head()

,name,price,power,gvw,milage,engine,fual_tank,payload,fuel_type
0,Tata Yodha Pickup,₹8.54 - ₹10.71 Lakh*,98 hp,3490,NaN,2200,45,1700,Diesel
1,Tata Ace gold,₹4.21 - ₹6.69 Lakh*,19 hp,1670,22,700,30,750,NaN
2,Mahindra Jeeto,₹4.38 - ₹5.26 Lakh*,16 hp,1345,32.86,670,10.5,600,NaN
3,Tata Intra V30,₹8.11 - ₹8.44 Lakh*,70 hp,2565,14,1496,35,1300,NaN
4,Force Urbania,From ₹28.99 Lakh*,115 hp,3625,11,2596,70,-,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       55 non-null     object
 1   price      55 non-null     object
 2   power      55 non-null     object
 3   gvw        54 non-null     object
 4   milage     47 non-null     object
 5   engine     52 non-null     object
 6   fual_tank  52 non-null     object
 7   payload    53 non-null     object
 8   fuel_type  8 non-null      object
dtypes: object(9)
memory usage: 4.0+ KB

In [8]:
df.isna().sum()

name          0
price         0
power         0
gvw           1
milage        8
engine        3
fual_tank     3
payload       2
fuel_type    47
dtype: int64

In [9]:
import re
def extract_price(text):
    if text=='Price Coming Soon':
        return None
    partten="(\d+.\d+|d+)"
#     print(text)
    match=re.search(partten,text)
    return float(match.group(1))
df['price_new']=df['price'].apply(extract_price)

In [10]:
def extract_power(text):
#     if text==None:
#         return None
    partten="(\d+)"
#     print(text)
    match=re.search(partten,text)
    try:
        return int(match.group(1))
    except:
        return None
df['power_new']=df['power'].apply(extract_power)

In [11]:
def extract_fuel(text):
    try:
        return float(text)
    except:
        partten="Petrol.((\d+.\d+)|(\d+))L"
#     print(text)
        match=re.search(partten,text)
        try:
            return float(match.group(1))
        except:
            return None
def extract_int(text):
    try:
        return float(text)
    except:
        partten="(\d+)"
#     print(text)
        match=re.search(partten,text)
        try:
            return float(match.group(1))
        except:
            return None
df['gvw_new']=df['gvw'].apply(extract_int)
df['milage_new']=df['milage'].apply(extract_int)
df['engine_new']=df['engine'].apply(extract_int)
df['fuel_tank_new']=df['fual_tank'].apply(extract_fuel)
df['payload_new']=df['payload'].apply(extract_int)
# df['payload_new']

In [12]:
df.head()

,name,price,power,gvw,milage,engine,fual_tank,payload,fuel_type,price_new,power_new,gvw_new,milage_new,engine_new,fuel_tank_new,payload_new
0,Tata Yodha Pickup,₹8.54 - ₹10.71 Lakh*,98 hp,3490,NaN,2200,45,1700,Diesel,8.54,98.0,3490.0,NaN,2200.0,45.0,1700.0
1,Tata Ace gold,₹4.21 - ₹6.69 Lakh*,19 hp,1670,22,700,30,750,NaN,4.21,19.0,1670.0,22.00,700.0,30.0,750.0
2,Mahindra Jeeto,₹4.38 - ₹5.26 Lakh*,16 hp,1345,32.86,670,10.5,600,NaN,4.38,16.0,1345.0,32.86,670.0,10.5,600.0
3,Tata Intra V30,₹8.11 - ₹8.44 Lakh*,70 hp,2565,14,1496,35,1300,NaN,8.11,70.0,2565.0,14.00,1496.0,35.0,1300.0
4,Force Urbania,From ₹28.99 Lakh*,115 hp,3625,11,2596,70,-,NaN,28.99,115.0,3625.0,11.00,2596.0,70.0,NaN

In [14]:
cols=['name','price_new', 'power_new', 'gvw_new',
       'milage_new', 'engine_new', 'fuel_tank_new', 'payload_new', 'fuel_type']
df_new=df[cols]
df_new.columns=['name','price', 'power', 'gvw','milage', 'engine','fuel_tank', 'payload', 'fuel_type']
df_new.head()

,name,price,power,gvw,milage,engine,fuel_tank,payload,fuel_type
0,Tata Yodha Pickup,8.54,98.0,3490.0,NaN,2200.0,45.0,1700.0,Diesel
1,Tata Ace gold,4.21,19.0,1670.0,22.00,700.0,30.0,750.0,NaN
2,Mahindra Jeeto,4.38,16.0,1345.0,32.86,670.0,10.5,600.0,NaN
3,Tata Intra V30,8.11,70.0,2565.0,14.00,1496.0,35.0,1300.0,NaN
4,Force Urbania,28.99,115.0,3625.0,11.00,2596.0,70.0,NaN,NaN

In [ ]:
df_new.to_csv("/content/drive/My Drive/Colab Notebooks/Feynn Labs/ev/clean_data/small_com_vehicle.csv",
               index=False, encoding='utf-8-sig')